/* If the screen size is 991px wide or less, hide the element */
@media only screen and (max-width: 991px) {
    div.page-image {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    div.form-container {
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 991px) {
    div.top-p {
      text-align: center;
    }
  }

  /* If the screen size is 768px wide or less, single column */
@media only screen and (max-width: 768px) {
    div.form-content {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 768px) {
    div.section-2 {
      padding: 0;
    }
  }

body {
    /* height: 100%; */
    min-height: 100vh;
    width: 100%;
    flex-basis: 50%;

}

main {
    display: flex;
    height: 100%;
}

.page-image {
    /* border: 2px solid; */
    padding: 60px 40px;
    align-content: center;
    background-color: #fffcf8;
}

img {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.form-container {
    /* border: 2px solid; */
    padding: 20px;
}

footer {
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

.media-icons {
    margin: auto;
    display: flex;
    justify-content: center;
}

#icon {
    padding: 10px 5px;
    text-decoration: none;
}
.form-content {
    display: flex;
    padding-top: 15px;
}

.top-p {
    text-align: right;
    font-weight: bold;
}

#topp-p {
    color: #75869d;
}

input, select {
    width: 100%;
    /* display: inline-block; */
    box-sizing: border-box;
    height: 35px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid grey;
}

input:focus, input:focus-visible {
    border: 2px solid blue;
}

select:focus, select:focus-visible {
    border: 2px solid blue;
}

.password-container {
    position: relative;
}

#password {
    padding-right: 40px;
}
.fa-eye {
    font-size: 12px; /*Adjust size as needed */
    cursor: pointer; /* Indicate clickable state */
    position: absolute; /*Position next to password field*/
    right: 15px;
    /* right: 10px; Adjust right margin as needed */
    top: 50%; 
    transform: translateY(-50%); 
}


button {
    width: 100%;
    margin-top: 15px;
    height: 40px;
    color: white;
    background-color: blue;
    border: blue;
    border-radius: 5px;
}

.button-p {
    padding-top: 10px;
}
.section-1 {
    /* border: 2px solid; */
    width: 100%;
    padding-right: 15px;
    /* display: flex;
    flex-direction: column; */
    
}

.section-2 {
    width: 100%;
    padding-left: 15px;
    /* display: flex; */
    /* flex-direction: column; */
}
 

.form-spacing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
